<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/js/jquery-3.7.1.js}"></script>
<head>
<meta charset="UTF-8">
<title>할 일</title>
</head>
<body>
<h1>할 일 목록</h1>
	<div>
		<form action="" name="search_form" method="get" >
			<label for="search_text">내용:</label>
			<input type="text" id="search_text" name="search_text" th:value="${searchDto.search_text}">
			<input type="submit" value="검색">
		</form>
	</div>
	<br>
	<div class="todo_list">
		<table border="1">
			<thead>
				<tr>
					<th>완료</th>
					<th>번호</th>
					<th>내용</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(todoList.content)}">
					<td colspan="4">조회된 데이터가 없습니다.</td>
				</tr>
				<tr th:if="${!#lists.isEmpty(todoList.content)}"
					th:each="todo, todoStatus : ${todoList.content}"
					th:attr="data-todo-no=${todo.no}">
					<td><input type="checkbox" id="complete" th:checked="${todo.flag == 'Y'}"
							   th:onclick="|javascript:todoUpdate('${todo.no}')|"></td>
					<td th:text="${(pageDto.nowPage-1)*(pageDto.numPerPage)+todoStatus.count}">번호</td>
					<td th:text="${todo.content}">내용</td>
					<td><button th:onclick="|javascript:todoDelete('${todo.no}')|">삭제</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="pagination">
			<a th:if="${pageDto.prev}"
			   th:href="@{/(nowPage=${pageDto.pageBarStart-1},search_text=${searchDto.search_text})}">&laquo;</a>
			<a style="letter-spacing: 4px;" th:each="num : ${#numbers.sequence(pageDto.pageBarStart, pageDto.pageBarEnd)}"
			   th:text="${num}" class="page-link"
			   th:classappend="${pageDto.nowPage == num} ? 'active'"
			   th:href="@{/(nowPage=${num},search_text=${searchDto.search_text})}">번호</a>
			<a th:if="${pageDto.next}"
			   th:href="@{/(nowPage=${pageDto.pageBarEnd+1},search_text=${searchDto.search_text})}">&raquo;</a>
		</div>
	<h1>할 일 추가</h1>
	<div class="addTodo_form">
		<form action='/addTodo' name="addTodo_form" method="post">
			<input type="text" name="content" placeholder="할일을 입력하세요">
			<input type="hidden" name="flag" value="N">
			<input type="submit" value="추가하기"> 
		</form>
	</div>
</body>
<script>
	// 할 일 추가
	const form = document.addTodo_form;
	form.addEventListener('submit',(e)=>{
		e.preventDefault();
		
		let vali_check = false;
		let vali_text = "";
		
		if(!form.content.value){
			vali_text = "할일을 입력하세요!"
		} else {
			vali_check = true;
		}
		
		if(vali_check == false){
			alert(vali_text);
		} else {
			const payload = new FormData(form);
			fetch("/addTodo",{
				method:'post',
				body:payload
			})
			.then(response => response.json())
			.then(data => {
				alert(data.res_msg)
				if(data.res_code=="200"){
					location.href='/';
				}
			})
			.catch(error => {
				alert(data.res_msg)
			})
		}
	})
	
	// 할 일 삭제
	const todoDelete = function(no){
		if(confirm("삭제하시겠습니까?")) {
			fetch("/"+no+"/delete", {
				method: 'delete'
			})
			.then(response => response.json())
			.then(data => {
				if(data.res_code == "200") {
					alert(data.res_msg);
					location.href='/';
				}
			})
			.catch(error => {
				alert(data.res_msg);
			});
		}
	};
	
	// 할 일 완료 수정
	const todoUpdate = function(no){
		fetch("/"+no+"/update",{
			method:'post'
		})
		.then(response => response.json())
		.then(data => {
			console.log(data.res_msg)
		})
		.catch(error => {
			alert(data.res_msg);
		});
	};
</script>
</html>